[Desktop Entry]
Name=PulseAudio Volume Control
GenericName=Volume Control
Comment=Adjust the volume level
Exec=pavucontrol
Icon=fbpanel-volume
StartupNotify=true
Type=Application
Categories=LXPANEL
NoDisplay=true
